.container {
  margin: 1em;
}

.big_container {
  border-style: dashed;
  border-color: gray;
  border-width: 0.5px;
  border-radius: 5px;
  box-shadow: 0 0 10px 3px rgb(226, 74, 74);
  margin-top: 1em;
}

div b {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  color: rgb(165, 12, 12);
}
